.encode-sans-condensed-thin {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
}

.encode-sans-condensed-extralight {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
}

.encode-sans-condensed-light {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.encode-sans-condensed-regular {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.encode-sans-condensed-medium {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.encode-sans-condensed-semibold {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.encode-sans-condensed-bold {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.encode-sans-condensed-extrabold {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
}

.encode-sans-condensed-black {
    font-family: "Encode Sans Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

// .inter-<uniquifier> {
//     font-family: "Inter", sans-serif;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//   }

.arvo-regular {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: normal;
}

.arvo-bold {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: normal;
}

.arvo-regular-italic {
    font-family: "Arvo", serif;
    font-weight: 400;
    font-style: italic;
}

.arvo-bold-italic {
    font-family: "Arvo", serif;
    font-weight: 700;
    font-style: italic;
}